*, *:before, *:after {
  box-sizing: border-box; 
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  font-family: sans-serif;
}

.header .title {
  background-color: #61B737;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin-top: 0px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.contact {
  text-align: center;
}

.contact .link {
  text-decoration: none;
  padding: 10px;
  font-size: 2em;
  color: #61B737;
}

.content {
  margin: 0 auto;
  max-width: 770px;
}

.posts {
  list-style: none;
  text-align: left;
  padding: 20px;
}

.post-reference {
  width: 90%;
  color: #61B737;
  margin-bottom: 10px;
}

.posts .date {
  color: gray;
  margin-right: 10px;
}

.posts .title {
  display: block;
  margin-bottom: 20px;
  color: #61B737;
  text-decoration: none;
  
  @media (min-width: 520px) {
    display: inline;
  }
}

.posts .title:hover {
  color: #006600;
  text-decoration: none;
}

.posts .content {
  font-size: 1em;
}
