---
layout: custom
title: Low carb diet
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Low Carb Diet</title>
  <link rel="stylesheet" href="c3.min.css" type="text/css">
  <link rel="stylesheet" href="low-carb-diet.css" type="text/css">
</head>
<body>
  <main>
    <h1>Minha dieta low carb (pesos e medidas)</h1>

    <h2>Por que estou documentando isso?</h2>
    <p>
      Sou cético quando falam em resultados milagrosos. Quando ouvi falar e comecei a ler sobre dieta de baixo carboidrato fui pesquisar sobre o assunto e não encontrei muitos dados sobre pesos e medidas de acordo com o tempo de quem seguiu a dieta, apenas alguns dados sobre médias coletadas em estudos médicos. Talvez eu não tenha pesquisado direito, mas enfim, não sou um estudioso da area de nutrição, então resolvi documentar meus próprios dados.
    </p>

    <h2>Observações</h2>
    <ul>
      <li>As medidas registradas aqui não são exatas. Uso apenas uma balança e fita métrica simples. Podem haver pequenas variações para mais ou para menos, mas é o bastante para ter ideia da evolução.</li>
      <li>Junto com a dieta comecei a fazer exercícios calisténicos. Uma média de 15 minutos diariamente, apenas. Acredito que esses poucos exercícios não tem um impacto significativo, ou talvez nenhum, na perda de peso, porém podem ajudar no ganho de massa no longo prazo.</li>
    </ul>

    <h2>Peso</h2>
    <div id="weight"></div>

    <h2>Barriga</h2>
    <div id="abdomen"></div>

    <h2>Coxa</h2>
    <div id="thigh"></div>

    <h2>Braço</h2>
    <div id="arm"></div>

    <h2>Referências</h2>
    <a href="http://www.amazon.com.br/horas-para-corpo-Timothy-Ferriss-ebook/dp/B00MOH1K88?ie=UTF8&keywords=4%20horas%20para%20o%20corpo&qid=1461721587&ref_=sr_1_1&s=digital-text&sr=1-1">
      <img src="http://ecx.images-amazon.com/images/I/516eFGsFIVL._SX388_BO1,204,203,200_.jpg" alt="4 horas para o corpo">
    </a>
    <a href="http://www.amazon.com.br/Por-engordamos-fazer-para-evitar-ebook/dp/B00Q3F37DS?ie=UTF8&keywords=porque%20engordamos&qid=1461721689&ref_=sr_1_1&s=books&sr=1-1">
      <img src="http://ecx.images-amazon.com/images/I/51uRHwDlnKL._SX331_BO1,204,203,200_.jpg" alt="Por que engordamos e o que fazer para evitar?">
    </a>

    <p>
      <strong>Tem alguma dica ou dúvida? Deixe nos comentários.</strong>
    </p>

    {% include disqus.html %}
  </main>

  <script src="d3.min.js"></script>
  <script src="c3.min.js"></script>
  <script src="low-carb-diet.js"></script>
  {% include google-analytics.html %}
</body>
</html>
